<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" routerLink="/">Olimpiadas Conti</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto"> 
            <li class="nav-item">
              <a class="nav-link" routerLink="/student">Estudiantes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/team">Equipos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/detailteam">Detalle Equipo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/challenge">Desafio</a> 
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/dataimport">Importar Datos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/olympiad">Olimpiada</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/career">Carrera</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/admin">Admin</a>
            </li>
          </ul>
        </div>
    </div>
</nav>