<div class="sidebar shadow">
    <div class="section-top">
        <div class="logo">
            <img src="assets/logo.png" class="img-fluid">
        </div>

        <div class="user">
            <span class="subtitle">Hola:</span>
            <div class="name">
                Manuel Aguirre Castro
                <a routerLink="">
                    <i class="fas fa-sign-out-alt"></i>
                </a>
            </div>
            <div class="email">maguirre@gmail.com</div>
        </div>
    </div>

    <div class="main">
        <ul>
            <li>               
                <a routerLink="/admin/olimpiada">
                    <i class="fas fa-volleyball-ball"></i> Olimpiada</a>
            </li>
            <li>               
                <a routerLink="/admin/persona">
                    <i class="fas fa-graduation-cap"></i> Persona</a>
            </li>
            <li>               
                <a routerLink="/admin/carrera">
                    <i class="fas fa-book"></i> Carrera</a>
            </li>
            <li>               
                <a routerLink="/admin/seccion">
                    <i class="fas fa-chalkboard-teacher"></i> Seccion</a>
            </li>
            <li>               
                <a routerLink="/admin/usuario">
                    <i class="fas fa-user"></i> Usuario</a>
            </li>
        </ul>
    </div>
</div>