<div class="container">
    <div class="card mt-4">
        <div class="card-body">
            <div class="row justify-content-center m-4">
                <div class="col-4">
                    <button type="button" class="btn btn-primary btn-block">Importar Datos del Estudiante</button>
                </div>
                <div class="col-4">
                    <button type="button" class="btn btn-primary btn-block">Importar datos del Docente</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-body">
            <h4 class="text-center">DISCIPLINA DEPORTIVA</h4>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-body">
            <div class="row mt-4">
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="">Disciplina Deportiva:</label>
                                <input type="text" class="form-control" id="">
                            </div>
                        </div>
                        <div class="col">  
                            <div class="form-group">
                                <label for="">Participantes:</label>
                                <input type="number" class="form-control" id="">
                            </div>
                        </div>
                    </div>
                    <table class="table-bordered table">
                        <thead>
                             <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Participantes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Fultbol 8</td>
                                <td>8</td>
                            </tr>
                            <tr>
                                <td>Voley Mixto</td>
                                <td>8</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-primary btn-block m-2">Agregar</button>
                    <button class="btn btn-primary btn-block m-2">Editar</button>
                    <button class="btn btn-danger btn-block m-2">Quitar</button>
                </div>
            </div> 
        </div>
    </div>
            
</div>