<div class="container">
    <div class="card mt-4">
      <div class="card-body">
        <h4 class="text-center">REGISTRO DE SECCIONES</h4>
      </div>
    </div>
 <div class="card mt-4">
      <div class="card-body">
        <form [formGroup]="formEdit"
        (submit)="onSubmit()">
          <div class="form-group row">
            <label for="inputSeccion" class="col-sm-2 col-form-label">Seccion</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="inputSeccion" formControlName="nombre">
            </div>
            <button class="btn btn-primary mr-2">Guardar</button>
            <button class="btn btn-success mr-2" [routerLink]="['/admin/seccion']">Cancelar</button>
            <button (click)="delete()" type="button" class="btn btn-danger">Eliminar</button>
          </div>
        </form>
    </div>
  </div>
</div>
